<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("272f1018-ff4b-423c-b0f7-716ee3a5238b");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
